* {
    box-sizing: border-box;
}
body {
  background-color: #f0f0f0;
  color: #333;
  font-family: "Arial", sans-serif;
  padding: 20px;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #007bff;
}
h2 {
  font-size: 24px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

button {
  color: #fff;
  border: none;
  cursor: pointer;
}
