.ListItem {
  color: blue;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .ListItem {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .ListItem {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .ListItem {
    font-size: 18px;
  }
}
